# ---------------------------------
# Python
# ---------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------------
# Virtual Environment
# ---------------------------------
.venv/
venv/
env/

# ---------------------------------
# IDE
# ---------------------------------
.vscode/
.idea/

# ---------------------------------
# Logs
# ---------------------------------
*.log

# ---------------------------------
# Local database
# ---------------------------------
*.db
*.sqlite
*.sqlite3

# ---------------------------------
# User media (NICHT versionieren)
# ---------------------------------
media/
data/

# Aber die Ordnerstruktur behalten
!media/.gitkeep
!data/.gitkeep

# ---------------------------------
# Windows
# ---------------------------------
Thumbs.db
Desktop.ini

# ---------------------------------
# Build artifacts
# ---------------------------------
/tools/release/cache/
/build/cache/
/build/release/
